$primary-color: #8bcdcd;
$secondary-color: #fcf876;
$dark-color: #3797a4;
$light-color: #fff;

.ProjectCard{
    width: 200px;
    height: 300px;
    border: 1px black solid;
    background-color: $light-color;

}