$primary-color: #8bcdcd;
$secondary-color: #fcf876;
$dark-color: #3797a4;
$light-color: #fff;

.ProjectCardContainer {
    width: 315px;
    height: 460px;
    margin-right: 15px;
    // padding: 10px;
    border-radius: 18px;
    box-shadow: 5px 5px 15px $dark-color;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    a {
        height: 34%;
       
        .CardTop{
           width: 100%;
          
       }
    }

    .CardBottom {
        height: 66%;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
    
        h2 {
            color: $dark-color;
            width: 90%;
            margin: 10px;
            text-align: center;
            border-bottom: 1px solid $primary-color;
        }
    
        p {
            text-align: center;
            font-size: 15px;
            color: $primary-color;
            margin: 0px 20px 20px 20px;
        }
    }
}

.LastCardContainer {
    margin-right: 0px;
}


