$primary-color: #8bcdcd;
$secondary-color: #fcf876;
$dark-color: #3797a4;
$light-color: #fff;

.Navbar{
    z-index:30;
    height: 100px;
    width: 100%;
    background-color: $primary-color;
    color: $light-color;
    position: fixed;
    top: 0px;
}