$primary-color: #8bcdcd;
$secondary-color: #fcf876;
$dark-color: #3797a4;
$light-color: #fff;

.ProjectsSection{
    background-color: $primary-color;
    height: 550px;
    margin: 0 15px;
    padding: 10px;
    z-index: 9;
    // display: flex;
    // justify-content: center;
    position: relative;
  

    .Circle{
        border: 40px solid $light-color;
        height: 500px;
        width: 500px;
        position: absolute;
        right: -275px;
        top: 25px;
        z-index: 10;
        border-radius: 50%;
    }

    .Content{
    
        height: 100%;
        width: 100%;
        max-width: 1000px;
        position: absolute;
        z-index: 11;

        h1{
            color: $light-color;
            margin: 0;
        }
        
        .Cards{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 100%;

        }
    

    }

   
    
}