$primary-color: #8bcdcd;
$secondary-color: #fcf876;
$dark-color: #3797a4;
$light-color: #fff;

.ProjectsSection{
    background-color: $primary-color;
    height: 550px;
    margin: 0 15px;
    padding: 10px;
    // z-index: 9;
    position: relative;
    overflow: hidden;
    
    .Circle{
        border: 40px solid $light-color;
        height: 500px;
        width: 500px;
        position: absolute;
        right: -275px;
        top: 25px;
        z-index: 10;
        border-radius: 50%;
    }

    .Content{
        height: 100%;
        width: 100%;
        // max-width: 1000px;
        padding: 10px;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 11;
        // background-color: lightpink;
        display: flex;
        justify-content: center;
        align-items: center;

        h1{
            color: $light-color;
            margin: 10px 0;
            position: absolute;
            left: 20px;
        }
        
        .Cards{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 87%;
            width: 100%;
            max-width: 1050px;
            // background-color: lightseagreen;
            // margin: auto;
            // padding-right: 134px;

        }
    

    }

    .AboutStop{
        height: 100px;
        position: absolute;
        bottom: 0px;
    }
    
}

@media (max-width: 1550px){
    .Content {
        h1{
            transform: rotate(-90deg);
        }
    }
}