$primary-color: #8bcdcd;
$secondary-color: #fcf876;
$dark-color: #3797a4;
$light-color: #fff;

.AboutSection {
    background-color: $secondary-color;
    height: 550px;
    margin: 0 15px;
    display: flex;
    padding: 15px;
    position: relative;
    overflow: hidden;

    .Circle {
        border: 40px solid $light-color;
        height: 455px;
        width: 455px;
        position: absolute;
        left: -100px;
        top: 73px;
        z-index: 10;
        border-radius: 50%;
        background: url("../assets/guitar_photo.jpg") no-repeat center/cover;
    }

    .Content {
        height: 100%;
        width: 100%;
        // max-width: 1000px;
        padding: 10px;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 11;
        // background-color: lightpink;

        h1 {
            color: $primary-color;
            margin: 10px 0;
            text-align: right;
        }

        .Container {
            display: flex;
            flex-direction: row;
            padding-bottom: 10px;

            .Placeholder{
                width: 380px;
                // background-color: blue;
                // opacity: 50%;
            }
            
            .AboutMeText {
                border-radius: 18px;
                float: right;
                background-color: $light-color;
                flex:1;
                height: 450px;
                padding: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            p {
                margin: 0;
                color: $primary-color;
                font-size: 1.7vw;
                text-align: center;
            }
        }
    }
}
