$primary-color: #8bcdcd;
$secondary-color: #fcf876;
$dark-color: #3797a4;
$light-color: #fff;

.WelcomeSection{
    // background-color: green;
    // border: black 1px solid;
    // opacity: 50%;
    height: 550px;
    // width: 100%;
    // position: relative;
    // z-index: 5;
    
    margin: 0 15px;
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    .Intro{
        width: 50%;
        color: $dark-color;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        
        h1{
            font-size: 4vw;
        }
        h2{
            font-size: 2vw;
        }
        .SpanPrimary{
            color: $primary-color;
        }
    }
}