$primary-color: #8bcdcd;
$secondary-color: #fcf876;
$dark-color: #3797a4;
$light-color: #fff;

.ContactCardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    .IconContainer {
        height: 10vw;
        width: 10vw;
        border-radius: 50%;
        border: 10px $light-color solid;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        img{
            width: 5vw;  
        }
    }

    .Label{
        padding-top: 20px;
        font-size: 2vw;
        color: $light-color;
    }
    

  
}
